한글 변수명 선언 가능

In [2]:
변수 = '학생'
print(변수)

학생

In [3]:
a = '학생'
b = '고등'
print(a+b)

학생고등

In [4]:
a = '학생'
b = '고등'
print(b+a)
b = '대'
print(b+a)

고등학생
대학생

{}를 사용해 format함수를 사용하는게 가독성이나 편리함 부분에서 유용함

In [6]:
name = 'james'
height = 186
age = 24
hobby = 'cooking'
print(name, '키는',height,', 나이는',age,', 취미는',hobby,'입니다!')
print('{} 키는 {}, 나이는 {}, 취미는 {} 입니다!'.format(name, height, age, hobby))

james 키는 186 , 나이는 24 , 취미는 cooking 입니다!
james 키는 186, 나이는 24, 취미는 cooking 입니다!

In [7]:
#원의 둘레 이 줄은 주석처리된다 //와 같음
"""
이 안은 전부 주석처리된다 /* */와 같음 
"""

'\n이 안은 전부 주석처리된다 /* */와 같음 \n'

In [27]:
p = 3.141592
#int로 input을 묶는 이유는 자료형을 알기 위해서임
r = int(input('반지름은? '))

c_area = p*r**2
c_len = 2*p*r
s_area = 4*p*r**2

print('원의 넓이 =', c_area, '원의 둘레 =', c_len, '구의 겉넓이 =', s_area)

반지름은? 10
원의 넓이 = 314.1592 원의 둘레 = 62.83184 구의 겉넓이 = 1256.6368

In [14]:
name = input('이름 : ')
age = input('나이 : ')
feature = input('특징 : ')
print(name + '(' + age + ') ' + feature)
print(feature + '인 ' + name)

이름 : 고라니
나이 : 4
특징 : 애교가 많은 편
고라니(4) 애교가 많은 편
애교가 많은 편인 고라니

In [25]:
year = 2017
height = 175.5
#자료형이 다를 경우 +를 사용할 수 없다. ,를 사용하자
print(year,'년 - ',height,' cm')
year += 1
height += 10
print(year,'년 - ',height,' cm')
year += 1
height += 10
print(year,'년 - ',height,' cm')
year += 1
height += 10
print(year,'년 - ',height,' cm')

2017 년 -  175.5  cm
2018 년 -  185.5  cm
2019 년 -  195.5  cm
2020 년 -  205.5  cm

In [30]:
height = 175.5
print(type(height))
name = '제임스'
#string의 약자인 str을 사용
print(type(name))

<class 'float'>
<class 'str'>

In [32]:
#input함수는 모두 str 타입으로 받기 때문에 자료형을 선언해줘야 함
a = input()
print(type(a))

999
<class 'str'>

In [35]:
score = 79
print(type(score),score)

#실수형으로 바꾸기
score = float(score)
print(type(score), score)

#정수형으로 바꾸기
score = int(score)
print(type(score), score)

#str형으로 바꾸기
score = str(score)
print(type(score),score)

<class 'int'> 79
<class 'float'> 79.0
<class 'int'> 79
<class 'str'> 79

In [38]:
snack = int(input('과자를 몇 개 구매하시겠습니까? '))
lamen = int(input('라면을 몇 개 구매하시겠습니까? '))
ham = int(input('햄을 몇 개 구매하시겠습니까? '))
s_result = snack * 1200
l_result = lamen * 800
h_result = ham * 2400
result = s_result + l_result + h_result
print('할인 전 금액:',result,', 할인 후 금액:',result*0.75)

과자를 몇 개 구매하시겠습니까? 3
라면을 몇 개 구매하시겠습니까? 5
햄을 몇 개 구매하시겠습니까? 2
할인 전 금액: 12400 , 할인 후 금액: 9300.0

In [41]:
x = int(input('숫자1 입력: '))
y = int(input('숫자2 입력: '))

print('두 수를 더한 값:',x+y)
print('두 수를 뺀 값:',x-y)
print('두 수를 곱한 값:',x*y)
print('두 수를 나눈 값:',x/y)

숫자1 입력: 12
숫자2 입력: 4
두 수를 더한 값: 16
두 수를 뺀 값: 8
두 수를 곱한 값: 48
두 수를 나눈 값: 3.0

# 3장 실습

### 1번

In [44]:
name = input('당신은 누구입니까? ')
print('나는 '+name+'이다.')

당신은 누구입니까? 전설
나는 전설이다.

### 2번

In [45]:
id = input('아이디 입력: ')
name = input('이름 입력: ')
print(name,'님! 회원가입을 환영합니다!')
print(id,'님에게 지금 즉시 사용 가능한 쿠폰 5개 발급!')
print(id,'님에게만 적립금 2000원 추가 지급!')

아이디 입력: yoori
이름 입력: 유리
유리 님! 회원가입을 환영합니다!
yoori 님에게 지금 즉시 사용 가능한 쿠폰 5개 발급!
yoori 님에게만 적립금 2000원 추가 지급!

### 4번

In [47]:
korea = int(input('국어 점수는? '))
math = int(input('수학 점수는? '))
english = int(input('영어 점수는? '))

korea *= 0.16
math *= 0.34
english *= 0.23

result = korea + math + english
print('최종 점수는',result,'입니다!')

국어 점수는? 60
수학 점수는? 80
영어 점수는? 93
최종 점수는 58.190000000000005 입니다!