In [6]:
#hashmap처럼 묶기
eng = {'break':'깨어지다','bring':'가져오다','brush':'붓','brave':'용감한'}
print(eng)
#키로 값을 찾는 방법
print(eng['break'])
print(eng['brush'])
#중복된 키가 있을 경우 마지막 값만 저장된다
eng1 = {'break':'깨어지다','bring':'가져오다','brush':'붓','brush':'빗','brave':'용감한'}
print(eng1)

{'break': '깨어지다', 'bring': '가져오다', 'brush': '붓', 'brave': '용감한'}
깨어지다
붓
{'break': '깨어지다', 'bring': '가져오다', 'brush': '빗', 'brave': '용감한'}

In [7]:
#하나의 키에 여러개의 값이 들어올 수 있음(리스트의 형태)
eng = {'break':['깨어지다','부서지다'],'bring':'가져오다','brush':['붓','빗'],'brave':'용감한'}
print(eng['break'])

['깨어지다', '부서지다']

In [8]:
menu = {'김밥':2500,'참치김밥':3500,'라면':3000,'치즈라면':4000}
eat = input('어떤 메뉴를 드시겠습니까?')
print(menu[eat],'원입니다.')

어떤 메뉴를 드시겠습니까?김밥
2500 원입니다.

In [11]:
#데이터 변경
menu = {'김밥':2500,'참치김밥':3500,'라면':3000,'치즈라면':4000}
menu['참치김밥'] = 3000
print(menu)
menu['라면'] = 2500
menu['치즈라면'] = 3500
print(menu)
menu['김밥']+=500
menu['참치김밥']-=800
print(menu)

{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000}
{'김밥': 2500, '참치김밥': 3000, '라면': 2500, '치즈라면': 3500}
{'김밥': 3000, '참치김밥': 2200, '라면': 2500, '치즈라면': 3500}

In [13]:
#데이터 추가(기존 값을 변경하는 방법과 같음)
menu = {'김밥':2500,'참치김밥':3500,'라면':3000,'치즈라면':4000}
menu['돈가스'] = 6000
print(menu)
menu['돈가스'] = 6500
print(menu)

{'김밥': 2500, '참치김밥': 3500, '라면': 3000, '치즈라면': 4000, '돈가스': 6000}
{'김밥': 2500, '참치김밥': 3500, '라면': 3000, '치즈라면': 4000, '돈가스': 6500}

In [14]:
eng = {}
print(eng)
eng['강아지'] = 'dog'
print(eng)
eng['고양이'] = 'cat'
print(eng)

{}
{'강아지': 'dog'}
{'강아지': 'dog', '고양이': 'cat'}

In [15]:
menu = {'김밥':2500,'참치김밥':3000,'라면':3000,'치즈라면':4000}
name = input('추가할 메뉴는?')
price = int(input('메뉴의 가격은?'))
menu[name] = price
print(menu)

추가할 메뉴는?쫄면
메뉴의 가격은?4000
{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000, '쫄면': 4000}

In [17]:
#키값 삭제하기
menu = {'김밥':2500,'참치김밥':3000,'라면':3000,'치즈라면':4000}
del menu['치즈라면']
print(menu)

{'김밥': 2500, '참치김밥': 3000, '라면': 3000}

In [22]:
#키값 추출하기, 값 추출하기
mart = {'과자':1500,'아이스크림':1700,'휴지':4800,'고기':10500,'우유':2600}
print(mart.keys())
print(mart.values())

dict_keys(['과자', '아이스크림', '휴지', '고기', '우유'])
dict_values([1500, 1700, 4800, 10500, 2600])

In [24]:
#추출한 결과 값을 리스트로 바꾸기
mart = {'과자':1500,'아이스크림':1700,'휴지':4800,'고기':10500,'우유':2600}
print(list(mart.keys()))
print(list(mart.values()))

['과자', '아이스크림', '휴지', '고기', '우유']
[1500, 1700, 4800, 10500, 2600]

In [25]:
#키-값 꺼내기
mart = {'과자':1500,'아이스크림':1700,'휴지':4800,'고기':10500,'우유':2600}
print(mart.items())

dict_items([('과자', 1500), ('아이스크림', 1700), ('휴지', 4800), ('고기', 10500), ('우유', 2600)])

In [34]:
#딕셔너리 정렬(sorted를 사용하면 리스트로 정렬)
mart = {'과자':1500,'아이스크림':1700,'휴지':4800,'고기':10500,'우유':2600}
print(sorted(mart.keys()))
print(sorted(mart.keys(),reverse=True))
print(sorted(mart.keys())[:2])
print(sorted(mart.values()))
print(sorted(mart.values(),reverse=True))
print(sorted(mart.values())[:2])
print(sorted(mart.values(),reverse=True)[:3])

['고기', '과자', '아이스크림', '우유', '휴지']
['휴지', '우유', '아이스크림', '과자', '고기']
['고기', '과자']
[1500, 1700, 2600, 4800, 10500]
[10500, 4800, 2600, 1700, 1500]
[1500, 1700]
[10500, 4800, 2600]

In [35]:
#sorted정렬의 기본 값은 키
mart = {'과자':1500,'아이스크림':1700,'휴지':4800,'고기':10500,'우유':2600}
print(sorted(mart))

['고기', '과자', '아이스크림', '우유', '휴지']

In [37]:
#item을 사용해도 키로 정렬
mart = {'과자':1500,'아이스크림':1700,'휴지':4800,'고기':10500,'우유':2600}
print(sorted(mart.items()))
print(sorted(mart.items(),reverse=True))

[('고기', 10500), ('과자', 1500), ('아이스크림', 1700), ('우유', 2600), ('휴지', 4800)]
[('휴지', 4800), ('우유', 2600), ('아이스크림', 1700), ('과자', 1500), ('고기', 10500)]

In [42]:
#item 사용시 값 정렬 방법 itemgetter이 0이면 키 1이면 값 내림차순 정렬
import operator

mart = {'과자':1500,'아이스크림':1700,'휴지':4800,'고기':10500,'우유':2600}
print(sorted(mart.items(),key=operator.itemgetter(0)))
print(sorted(mart.items(),key=operator.itemgetter(1)))
print(sorted(mart.items(),key=operator.itemgetter(1),reverse=True))
print(sorted(mart.items(),key=operator.itemgetter(1))[:2])

[('고기', 10500), ('과자', 1500), ('아이스크림', 1700), ('우유', 2600), ('휴지', 4800)]
[('과자', 1500), ('아이스크림', 1700), ('우유', 2600), ('휴지', 4800), ('고기', 10500)]
[('고기', 10500), ('휴지', 4800), ('우유', 2600), ('아이스크림', 1700), ('과자', 1500)]
[('과자', 1500), ('아이스크림', 1700)]

In [43]:
#딕셔너리 타입 저장 dict
mart = {'과자':1500,'아이스크림':1700,'휴지':4800,'고기':10500,'우유':2600}
mart = dict(sorted(mart.items()))
print(mart)

{'고기': 10500, '과자': 1500, '아이스크림': 1700, '우유': 2600, '휴지': 4800}

In [46]:
midterm = {'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}
student = input('어떤 학생의 점수가 궁금한가요?')
if student in midterm.keys():
    print(midterm[student],'점입니다.')
else:
    print('해당 학생이 없습니다.')

어떤 학생의 점수가 궁금한가요?도윤
43 점입니다.

In [51]:
midterm = {'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}
for k in midterm.keys():
    print(k,end=' ')
print('\n')
for v in midterm.values():
    print(v,end=' ')

도윤 하윤 시우 지유 주원

43 82 76 61 94

In [53]:
midterm = {'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}
for k in midterm.keys():
    print(k,midterm[k],end=', ')

도윤 43, 하윤 82, 시우 76, 지유 61, 주원 94,

In [56]:
midterm = {'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}
for i in midterm.items():
    print(i,end=' ')
print('\n')
for k,v in midterm.items():
    print(k,v,end=' ')

('도윤', 43) ('하윤', 82) ('시우', 76) ('지유', 61) ('주원', 94)

도윤 43 하윤 82 시우 76 지유 61 주원 94

In [58]:
midterm = {'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}
print('점수가 70점 이상인 학생의 이름과 점수를 모두 출력합니다.')
for k,v in midterm.items():
    if v >= 70:
        print(k,v,end=' ')

점수가 70점 이상인 학생의 이름과 점수를 모두 출력합니다.
하윤 82 시우 76 주원 94

In [60]:
#딕셔너리명만 넣을 경우 키만 반환
midterm = {'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}
for m in midterm:
    print(m,end=' ')

도윤 하윤 시우 지유 주원

In [70]:
#단어 빈도수
import operator

alibaba = " in a town of persia lived two brothers, sons of a poor man:one named cassim, the other alibaba . cassim, the elder..."
vocab = {}
word_list = alibaba.split()

for w in word_list:
    if w not in vocab:
        vocab[w] = 1
    else:
        vocab[w] += 1
print(vocab)
print('\n')
#내림차순 정렬
print(sorted(vocab.items(),key=operator.itemgetter(1),reverse=True))
#의미 없는 단어 제거
meaningless = ['a','of','the','in']
for word in meaningless:
    del vocab[word]
vocab_final = sorted(vocab.items(),key=operator.itemgetter(1),reverse=True)
print('\n')
print(vocab_final)
print('\n')
#1분 퀴즈(단어만 알파벳 순으로 정렬)
print(sorted(vocab))

{'in': 1, 'a': 2, 'town': 1, 'of': 2, 'persia': 1, 'lived': 1, 'two': 1, 'brothers,': 1, 'sons': 1, 'poor': 1, 'man:one': 1, 'named': 1, 'cassim,': 2, 'the': 2, 'other': 1, 'alibaba': 1, '.': 1, 'elder...': 1}


[('a', 2), ('of', 2), ('cassim,', 2), ('the', 2), ('in', 1), ('town', 1), ('persia', 1), ('lived', 1), ('two', 1), ('brothers,', 1), ('sons', 1), ('poor', 1), ('man:one', 1), ('named', 1), ('other', 1), ('alibaba', 1), ('.', 1), ('elder...', 1)]


[('cassim,', 2), ('town', 1), ('persia', 1), ('lived', 1), ('two', 1), ('brothers,', 1), ('sons', 1), ('poor', 1), ('man:one', 1), ('named', 1), ('other', 1), ('alibaba', 1), ('.', 1), ('elder...', 1)]


['.', 'alibaba', 'brothers,', 'cassim,', 'elder...', 'lived', 'man:one', 'named', 'other', 'persia', 'poor', 'sons', 'town', 'two']

# 7장 실습

### 1번

In [71]:
day = {'월요일':'Mon','화요일':'Tue','수요일':'Wed','목요일':'Thu','금요일':'Fri'}
day['토요일'] = 'Sat'
day['일요일'] = 'Sun'
day['일요일'] = 'SUN'
del day['수요일']
print(day)

{'월요일': 'Mon', '화요일': 'Tue', '목요일': 'Thu', '금요일': 'Fri', '토요일': 'Sat', '일요일': 'SUN'}

### 2번

In [85]:
book = {'역사대모험':20000,
        '영단어':9000,
        '파이썬':17000,
        '여행에세이':22000,
        '삼국지':33000}
for k,v in book.items():
    if v <= 15000:
        book[k] *= 1.1
    else:
        book[k] *= 1.05
print(book)

{'역사대모험': 21000.0, '영단어': 9900.0, '파이썬': 17850.0, '여행에세이': 23100.0, '삼국지': 34650.0}

### 3번

In [90]:
import operator

ranking = {'라이언':956412,
           '어피치':796354,
           '니니즈':861832,
           '네오':387896,
           '프로도':534840}
ranking = dict(sorted(ranking.items(),key=operator.itemgetter(1),reverse=True))
print(ranking)

{'라이언': 956412, '니니즈': 861832, '어피치': 796354, '프로도': 534840, '네오': 387896}